$def with (page)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<title>AT Polls</title>
		<style type="text/css" media="all">
			body {
				margin:0 auto 50px auto;
				max-width: 650px;
				line-height: 1.6em;
				font-size:18px;
				background :#EEEEEE;
				color: #444;
				padding:0 10px
			}
			
			a {
				color: #222;
				text-decoration: none;
			}
			
			h1,h2,h3{
				line-height:1.2
			}
			
			header {
				font-size: 1.2em;
				color: #222;
			}
		</style>
	</head>
	
	<body>
		<header>
			<h1>Aaron Tagliaboschi's Simple Polling Service</h1>
		</header>
		
		$:page
	</body>
</html>